.createMenu {
    animation: fadein .5s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.createButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(139, 195, 74);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}